* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 50px;
}

:root {
    --primary-color: #FDFFFF ;
    --secondary-color: #7e0000 ;
    --tertiary-color: #B10F15 ;
    --background-dark: #202020;
    --background-light: #ff00002c;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.high-score {
    color:var(--secondary-color);
    background:none;
    border:none;
}

.high-score:focus {
    color: var(--tertiary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%;
}

.bottom-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: auto;
    padding-left: 30%;
    padding-right: 30%;
}

.main-content, .secondary-content {
    margin-bottom: 10px;
}

.page-content {
    font-weight: lighter;
}

.start {
    height: 30px;
    width: 90px;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px black;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border:none;
}

.start:focus {
    background-color: var(--tertiary-color);
}

#question-format {
    display: flex;
    flex-direction: column;
    height:auto;
}

#questions {
    text-align: start;
}

.answer-button {
    height: 40px;
    width: 200px;
    text-align: start;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px black;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border:none;
    margin-top: 10px;
    padding-left: 15px;
}

.answer-button:focus {
    background-color: var(--tertiary-color);
}

.final-score {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: auto;
    padding-left: 30%;
    padding-right: 30%;
}